temp/

# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
MemoryCaptures/
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unreal
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# OS / editor
.DS_Store
Thumbs.db
.vs/
.vscode/